
:root {
    font-size: .5rem;
}

.main-color {
    background: linear-gradient(white 55%, rgb(191, 186, 186));
    height: 40px;
    
}

a {
    
    font-family: 'Tenali Ramakrishna', sans-serif;
    font-size: 1.2em;
    
}

body {
    background-image: url(images/bolas-elegante.jpg);
    
}

input {
    width: 280px;
    height: 45px;
    margin-bottom: 20px;
    
}

.boton-active:hover {
    color:rgb(20, 20, 123);
    text-shadow: 0 0 3px rgb(26, 26, 174);
    font-family: serif;
    box-shadow: 0 0 3px blue;
    border: 1px solid blue;
    transition: .5s;
}
   

   
  
    
.boton-active {
    font-size: 2.7em;
    font-family: serif;
    font-weight: 900;
    color: white;
   
}    


button {
    height: 50px;
}
   
header {
    border-bottom: 1px solid gray;
    font-size: 2.7em;
    
    
}

.forgot {
    background-color: rgb(62, 60, 60);
    border-radius: 3px;
    font-size: 2em;
}

.input-group {
    width: 85%;

}
.form-control {
    font-size: 2em;
    
}

footer {
    font-size: 2em;
   
    
}
  

    
@media(max-width: 600px){
    footer {
        position: relative;
        margin-top: 50px;
    }
}

@media(min-width:600px) {
    footer {
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
        height: 90px;
        

    }
}



.nav-link {
    color: rgb(98, 88, 88) !important;
    font-weight: 500;
}

.nav-link:hover {
    color: blue !important;
    text-shadow:0 0 5px blue ;
}


@media(max-width: 600px){
    div.m1 {
       
        margin-top: 15%!important;
    }
}



